flow-track/*.onnx
flow-track/*.trt
flow-track/*.mp4
flow-track/__pycache__
flow-track/yolo/
flow-track/input/
flow-track/helper.py 
flow-track/output/
flow-track/test_img/
flow-track/model/
flow-track/live_imgs/
flow-track/live_output_ft.zip

light-track/*.onnx
light-track/*.trt
light-track/*.mp4
light-track/__pycache__
light-track/yolo/
light-track/input/
light-track/live_imgs/
light-track/output_lt.zip
light-track/output_lt/

joint-flow/*.onnx
joint-flow/*.trt
joint-flow/*.mp4
joint-flow/__pycache__
joint-flow/input/
joint-flow/live_imgs/
joint-flow/output_lt.zip
joint-flow/output_lt/


